<html>
  <body>

  @if(auth.isAuthenticated)

  <h1>{{auth.user.name}}</h1>
    <form action="/logout" method="post">
      <button>Sign Out</button>
    </form>
  @else
    <a href="/login">Login</a>

  @endif
  </body>
</html>
